@model IEnumerable<StudentReg.Models.Registration>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Registered Students</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Registrations" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> &nbsp; Create New</a>
        </div>


    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Othernames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Othernames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Registrations" asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-secondary mx-2"><i class="bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Registrations" asp-action="Details" asp-route-id="@item.Id"
                        class="btn btn-danger mx-2"><i class="bi bi-ticket-detailed"></i>Details</a>
                        <a asp-controller="Registrations" asp-action="Delete" asp-route-id="@item.Id"
                        class="btn btn-danger mx-2"><i class="bi bi-trash3"></i>Delete</a>
                    </div>

                </td>    
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
